h2{
    color: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 60px;
    text-align: center;
    text-decoration:overline ;
    background-color: blue;
}

